<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Pago</title>
</head>
<body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border: 1px solid #ddd;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <div class="content">
        <h2>Detalle del Pago</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Num. Docente</th>
                    <th>Nombre</th>
                    <th>Domicilio</th>
                    <th>Nivel</th>
                    <th>Pago hora base</th>
                    <th>Horas impartidas</th>
                    <th>Num. hijos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= numDocente %></td>
                    <td><%= nombre %></td>
                    <td><%= domicilio %></td>
                    <td><%= nivel %></td>
                    <td><%= parseFloat(pagoHoraBase).toFixed(2) %></td>
                    <td><%= horasImpartidas %></td>
                    <td><%= numHijos %></td>
                </tr>
            </tbody>
        </table>
        <table border="1">
            <thead>
                <tr>
                    <th>Pago por horas impartidas</th>
                    <th>Pago por bono (+)</th>
                    <th>Pago Impuesto (-)16%</th>
                    <th>Total a pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= pagoPorHoras %></td>
                    <td><%= pagoIncrementado %></td>
                    <td><%= impuesto %></td>
                    <td><%= totalPagar %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>
